/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Standard;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #808080;
	background-color: #e6e6e6;
	color: #000000;
	name: Header1;
	id: 3;
	text-align: left;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #808080;
	background-color: #def1fa;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}


/* Cell Styles: */
 
.TableStyle-Standard
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #808080;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #808080;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #808080;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #808080;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Standard-Column-Column1
{
	
}

.TableStyle-Standard-Head-Header1
{
	
}

.TableStyle-Standard-HeadI-Column1-Header1
{
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-Standard-HeadI-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadE-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadF-Column1-Header1
{
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadF-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-Standard-HeadH-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadD-Column1-Header1
{
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
	border-bottom-width: 2px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Standard-HeadD-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadC-Column1-Header1
{
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-Standard-HeadC-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-Standard-HeadB-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadA-Column1-Header1
{
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-Standard-HeadA-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-HeadG-Column1-Header1
{
	color: #000000;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6e6;
}

.TableStyle-Standard-HeadG-Column1-Header1 p
{
	color: #000000;
}

.TableStyle-Standard-FootI-Column1-
{
	
}

.TableStyle-Standard-FootI-Column1- p
{
	
}

.TableStyle-Standard-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-FootE-Column1- p
{
	
}

.TableStyle-Standard-FootF-Column1-
{
	
}

.TableStyle-Standard-FootF-Column1- p
{
	
}

.TableStyle-Standard-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-FootH-Column1- p
{
	
}

.TableStyle-Standard-FootD-Column1-
{
	
}

.TableStyle-Standard-FootD-Column1- p
{
	
}

.TableStyle-Standard-FootC-Column1-
{
	
}

.TableStyle-Standard-FootC-Column1- p
{
	
}

.TableStyle-Standard-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-FootB-Column1- p
{
	
}

.TableStyle-Standard-FootA-Column1-
{
	
}

.TableStyle-Standard-FootA-Column1- p
{
	
}

.TableStyle-Standard-FootG-Column1-
{
	
}

.TableStyle-Standard-FootG-Column1- p
{
	
}

.TableStyle-Standard-Body-Body1
{
	
}

.TableStyle-Standard-BodyI-Column1-Body1
{
	background-color: #def1fa;
}

.TableStyle-Standard-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyE-Column1-Body1
{
	background-color: #def1fa;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyF-Column1-Body1
{
	background-color: #def1fa;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Standard-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyH-Column1-Body1
{
	background-color: #def1fa;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyD-Column1-Body1
{
	background-color: #def1fa;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
	border-bottom-style: solid;
}

.TableStyle-Standard-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyC-Column1-Body1
{
	background-color: #def1fa;
}

.TableStyle-Standard-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyB-Column1-Body1
{
	background-color: #def1fa;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyA-Column1-Body1
{
	background-color: #def1fa;
}

.TableStyle-Standard-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Standard-BodyG-Column1-Body1
{
	background-color: #def1fa;
}

.TableStyle-Standard-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Standard-Body-Body2
{
	
}

.TableStyle-Standard-BodyI-Column1-Body2
{
	
}

.TableStyle-Standard-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Standard-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyH-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Standard-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyC-Column1-Body2
{
	
}

.TableStyle-Standard-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyB-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #808080;
	border-right-style: solid;
}

.TableStyle-Standard-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyA-Column1-Body2
{
	
}

.TableStyle-Standard-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Standard-BodyG-Column1-Body2
{
	
}

.TableStyle-Standard-BodyG-Column1-Body2 p
{
	
}


