/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: SystemRequire;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #d9d9d9;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #d9d9d9;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #d9d9d9;
	max-id: 5;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #d9d9d9;
	name: Column1;
	id: 0;
	cell-content-style-tag: p;
	cell-content-style-class: section;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	cell-content-style-tag: p;
	separator-style: none;
	separator-width: 1px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #bfbfbf;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-SystemRequire
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #d9d9d9;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #d9d9d9;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #d9d9d9;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #d9d9d9;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-SystemRequire-Column-Column1
{
	
}

.TableStyle-SystemRequire-Column-Column2
{
	
}

.TableStyle-SystemRequire-HeadI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadI-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-HeadE-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadF-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-HeadH-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadD-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadC-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-HeadB-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadA-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadG-Column1- p
{
	
}

.TableStyle-SystemRequire-HeadI-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadI-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadE-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-HeadE-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadF-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadF-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadH-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-HeadH-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadD-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadD-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadC-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadC-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadB-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-HeadB-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadA-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadA-Column2- p
{
	
}

.TableStyle-SystemRequire-HeadG-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-HeadG-Column2- p
{
	
}

.TableStyle-SystemRequire-FootI-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootI-Column1- p
{
	
}

.TableStyle-SystemRequire-FootE-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-FootE-Column1- p
{
	
}

.TableStyle-SystemRequire-FootF-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootF-Column1- p
{
	
}

.TableStyle-SystemRequire-FootH-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-FootH-Column1- p
{
	
}

.TableStyle-SystemRequire-FootD-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootD-Column1- p
{
	
}

.TableStyle-SystemRequire-FootC-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootC-Column1- p
{
	
}

.TableStyle-SystemRequire-FootB-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-FootB-Column1- p
{
	
}

.TableStyle-SystemRequire-FootA-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootA-Column1- p
{
	
}

.TableStyle-SystemRequire-FootG-Column1-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootG-Column1- p
{
	
}

.TableStyle-SystemRequire-FootI-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootI-Column2- p
{
	
}

.TableStyle-SystemRequire-FootE-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-FootE-Column2- p
{
	
}

.TableStyle-SystemRequire-FootF-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootF-Column2- p
{
	
}

.TableStyle-SystemRequire-FootH-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-FootH-Column2- p
{
	
}

.TableStyle-SystemRequire-FootD-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootD-Column2- p
{
	
}

.TableStyle-SystemRequire-FootC-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootC-Column2- p
{
	
}

.TableStyle-SystemRequire-FootB-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-FootB-Column2- p
{
	
}

.TableStyle-SystemRequire-FootA-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootA-Column2- p
{
	
}

.TableStyle-SystemRequire-FootG-Column2-
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle-SystemRequire-FootG-Column2- p
{
	
}

.TableStyle-SystemRequire-Body-Body1
{
	
}

.TableStyle-SystemRequire-BodyI-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyI-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyE-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #bfbfbf;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-BodyE-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyF-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #bfbfbf;
	border-bottom-style: solid;
}

.TableStyle-SystemRequire-BodyF-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyH-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-BodyH-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyD-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #bfbfbf;
	border-bottom-style: solid;
}

.TableStyle-SystemRequire-BodyD-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyC-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyC-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyB-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: none;
}

.TableStyle-SystemRequire-BodyB-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyA-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyA-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyG-Column1-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyG-Column1-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyI-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyI-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyE-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #bfbfbf;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-BodyE-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyF-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #bfbfbf;
	border-bottom-style: solid;
}

.TableStyle-SystemRequire-BodyF-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyH-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-BodyH-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyD-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-color: #bfbfbf;
	border-bottom-style: solid;
}

.TableStyle-SystemRequire-BodyD-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyC-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyC-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyB-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-SystemRequire-BodyB-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyA-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyA-Column2-Body1 p
{
	
}

.TableStyle-SystemRequire-BodyG-Column2-Body1
{
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SystemRequire-BodyG-Column2-Body1 p
{
	
}


